{% extends 'DHISSComDisBundle::layout.html.twig' %}

{% block page_title 'Outbreak Daily Tally&apos;s details - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Outbreak Daily Tally&apos;s detals' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_outbreak_show' %}

{% block content %}
{% if app.request.session.hasFlash('success') %}
<div class="alert alert-success">
  {{ app.request.session.getFlash('success') }}
</div>
{% endif %}
{% if app.request.session.hasFlash('error') %}
<div class="alert alert-error">
  {{ app.request.session.getFlash('error') }}
</div>
{% endif %}


{% include "DHISSComDisBundle:Outbreak:_show_header.html.twig" %}
{% include "DHISSComDisBundle:Outbreak:_show_items.html.twig" %}

<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <th>ID</th>
      <td>{{ outbreak.id }}</td>
      <th>Created At</th>
      <td>{{ outbreak.createdAt|date('m/d/Y H:i') }}</td>
      <th>Updated At</th>
      <td>{{ outbreak.updatedAt|date('m/d/Y H:i') }}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="span6">
    <div class="form-actions">
      <a href=javascript:history:back() class="btn">&laquo; Back</a>
      <a href="{{ path('scomdis_outbreak_edit', {'id': outbreak.id}) }}" class="btn btn-success">Edit</a>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h4>Delete this Outbreak Daily Tally</h4>
      <p>Note: once it is deleted, you will not be able to restore it.</p>
      <a href="{{ path('scomdis_outbreak_delete', {'id': outbreak.id}) }}" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>

{% endblock %}
