{% extends 'DHISSComDisBundle::layout.html.twig' %}

{% block page_title 'Syndromic Surveillance - Clinic - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Syndromic Surveillance - Clinic' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_admin_clinic' %}

{% block content %}
{% if app.request.session.hasFlash('success') %}
<div class="alert alert-success">
  {{ app.request.session.getFlash('success') }}
</div>
{% endif %}
{% if app.request.session.hasFlash('error') %}
<div class="alert alert-error">
  {{ app.request.session.getFlash('error') }}
</div>
{% endif %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Code</th>
      <th>Sentinel Site</th>
      <th>District</th>
    </tr>
  </thead>
  <tbody>
    {% for clinic in pagination %}
    <tr>
      <td><a href="{{ path('scomdis_admin_clinic_show', {'id': clinic.id}) }}">{{ clinic.id }}</a></td>
      <td>{{ clinic.name }}</td>
      <td>{{ clinic.code }}</td>
      <td><a href="{{ path('scomdis_admin_sentinel_site_show', {'id': clinic.sentinelSite.id}) }}">{{ clinic.sentinelSite.name }}</a></td>
      <td><a href="{{ path('scomdis_admin_district_show', {'id': clinic.district.id}) }}">{{ clinic.district.name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ pagination.render()|raw }}

<div class="row">
  <div class="span8">
    <p></p>
  </div>
  <div class="span2">
    <div class="well">
      <form action="{{ path('scomdis_admin_clinic_register') }}">
        <h4>Add new clinic</h4>
        <input type="submit" class="btn btn-primary" value="Register">
      </form>
    </div>
  </div>
</div>
{% endblock %}
