{% extends 'DHISSComDisBundle::layout.html.twig' %}

{% block page_title 'Syndromic Surveillance - Syndrome for Outbreak - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Syndromic Surveillance - Syndrome for Outbreak' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_admin_syndrome4outbreak' %}

{% block content %}
{% if app.request.session.hasFlash('success') %}
<div class="alert alert-success">
  {{ app.request.session.getFlash('success') }}
</div>
{% endif %}
{% if app.request.session.hasFlash('error') %}
<div class="alert alert-error">
  {{ app.request.session.getFlash('error') }}
</div>
{% endif %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Display ID</th>
    </tr>
  </thead>
  <tbody>
    {% for syndrome in pagination %}
    <tr>
      <td><a href="{{ path('scomdis_admin_syndrome4outbreak_show', {'id': syndrome.id}) }}">{{ syndrome.id }}</a></td>
      <td>{{ syndrome.name }}</td>
      <td>{{ syndrome.displayId }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ pagination.render()|raw }}

<div class="row">
  <div class="span8">
    <p></p>
  </div>
  <div class="span2">
    <div class="well">
      <form action="{{ path('scomdis_admin_syndrome4outbreak_register') }}">
        <h4>Add new Syndrome</h4>
        <input type="submit" class="btn btn-primary" value="Register">
      </form>
    </div>
  </div>
</div>
{% endblock %}
