{% extends 'DHISAdminBundle::layout.html.twig' %}

{% block page_title 'Group Edit - Admin' %}
{% block product_name 'Admin' %}
{% block content_title 'Group Edit' %}

{% set menu = 'admin' %}
{% set sidebar_menu = 'admin_group' %}

{% block content %}
<form action="{{ path('admin_group_edit', {'id': group.id}) }}" method="post" class="form-horizontal">
  {{ form_errors(form) }}
    <div class="control-group {% if form.id.get('errors') %}error{% endif %}">
      <label class="control-label">ID</label>
      <div class="controls">
        {{ form_errors(form.id) }}
        {{ form_widget(form.id) }}
      </div>
    </div>
    <div class="control-group {% if form.name.get('errors') %}error{% endif %}">
      <label class="control-label">Name</label>
      <div class="controls">
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
      </div>
    </div>
    <div class="control-group {% if form.role.get('errrors') %}error{% endif %}">
      <label class="control-label">Role</label>
      <div class="controls">
        {{ form_errors(form.role) }}
        {{ form_widget(form.role) }}
      </div>
    </div>
    {{ form_rest(form) }}
    <div class="form-actions">
      <a href=javascript:history:back() class="btn">&laquo; Cancel</a>
      <button class="btn btn-primary">Update</button>
    </div>
</form>
{% endblock %}
