{% extends 'DHISAdminBundle::layout.html.twig' %}

{% block page_title 'Group&apos;s details - Admin' %}
{% block product_name 'Admin' %}
{% block content_title 'Group&apos;s details' %}

{% set menu = 'admin' %}
{% set sidebar_menu = 'admin_group' %}

{% block content %}
<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <th>ID</th>
      <td>{{ group.id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ group.name }}</td>
    </tr>
    <tr>
      <th>Role</th>
      <td>{{ group.role }}</td>
    </tr>
    <tr>
      <th>Created at</th>
      <td>{{ group.createdAt|date('Y/m/d') }}</td>
    </tr>
    <tr>
      <th>Updated at</th>
      <td>{{ group.updatedAt|date('Y/m/d') }}</td>
    </tr>
    <tr>
      <th>Users</th>
      <td>
      {% for user in group.users %}
        <a href="{{ path('admin_user_show', {'id': user.id}) }}">{{ user.displayname }}</a><br>
      {% endfor %}
    </td>
    </tr>
  </tbody>
</table>
<div class="actions">
    <a href=javascript:history:back() class="btn">&laquo; Back</a>
  </div>
{% endblock %}
