{% extends 'DHISSComDisBundle::popupLayout.html.twig' %}

{% block page_title 'Chart Surveillance - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Chart Surveillance - SComDis' %}

{% block javascripts %}
  {{ parent() }}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
          {% set first_time = true %}
          {% for s in lineChart.series %}{% if loop.index0 == 0 %} ['{{ s | raw }}'{% else %}, '{{ s | raw }}'{% endif %}{% endfor %}, ''],
          {% for week in lineChart.data %}[{% for value in week %}{% if loop.index0 == 0 %}'{{ value }}'{% else %}, {% if value == -1 %} {% else %}{{ value }}{% endif %}{% endif %}{% endfor %}, 0],{% endfor %}
        ]);
      
        new google.visualization.LineChart(document.getElementById('visualization')).
            draw(data, {title: '{{ lineChart.title | raw }}',
                        titleTextStyle: {color: 'gray', fontName: 'Arial', fontSize: 20},
                        fontSize: 10,
                        fontName: 'Arial',
                        curveType: "none",
                        pointSize: 2,
                        width: 1280, height: 768,
                        vAxis: {maxValue: {% if lineChart.maxValue == 0 %}10{% else %}{{ lineChart.maxValue }}{% endif %},
                                minValue: 0,
                                textStyle: {color: 'gray', fontName: 'Arial', fontSize: 10},
                        },
                        hAxis: {showTextEvery: 1,
                                textStyle: {color: 'gray', fontName: 'Arial', fontSize: 10}
                                , slantedText: true
                        },
                        series: { {{ (lineChart.series | length) - 1 }}:{lineWidth: 0, pointSize: 0, visibleInLegend: false}},
        });
      }
      google.setOnLoadCallback(drawVisualization);
      
    </script>
{% endblock %}

{% block content %}
    
    {% if app.request.session.hasFlash('success') %}
    <div class="alert alert-success">
      {{ app.request.session.getFlash('success') }}
    </div>
    {% endif %}
    {% if app.request.session.hasFlash('error') %}
    <div class="alert alert-error">
    {{ app.request.session.getFlash('error') }}
    </div>
    {% endif %}
    
  <div class="container">
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
        <th>{% if calcYears is defined %}Target Year: {% else %}Years: {% endif %}</th>
        <td>{% set continue_year = false %}
        {% for year in year_choices %}
          {% if continue_year == false %}{% set continue_year = true %}{% else %}{{ ', ' }}{% endif %}
          {{ year }}
        {% endfor %}</td>
        </tr>
        {% if calcYears is defined %}
        <tr>
        <th>Calculation Years: </th>
        <td>{% set continue_year = false %}
        {% for calcYear in calcYears %}
          {% if continue_year == false %}{% set continue_year = true %}{% else %}{{ ', ' }}{% endif %}
          {{ calcYear }}
        {% endfor %}</td>
        </tr>
        {% endif %}
        <tr>
        <th>Syndromes: </th>
        <td>{% set continue_syndrome = false %}
        {% for syndrome in syndromes %}
          {% for syndrome_choice in syndrome_choices %}
            {% if syndrome.id == syndrome_choice %}
              {% if continue_syndrome == false %}{% set continue_syndrome = true %}{% else %}{{ ', ' }}{% endif %}
              {{ syndrome.name }}
            {% endif %}
          {% endfor %}
        {% endfor %}</td>
        </tr>
        <tr>
        <th>Sentinel sites: </th>
        <td>{% set continue_sentinel = false %}
        {% for sentinelSite in sentinelSites %}
          {% for sentinelSite_choice in sentinelSite_choices %}
            {% if sentinelSite.id == sentinelSite_choice %}
              {% if continue_sentinel == false %}{% set continue_sentinel = true %}{% else %}{{ ', ' }}{% endif %}
              {{ sentinelSite.name }}
            {% endif %}
          {% endfor %}
        {% endfor %}</td>
        </tr>
        {% if note is defined %}
        <tr>
        <th>Note: </th>
        <td>{{ note }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <div id="visualization" style="width: 1280px; height: 768px;"></div>
{% endblock %}