{% extends 'DHISSComDisBundle::layout.html.twig' %}

{% block page_title 'Syndromic Surveillance - Epidemic Phase Map - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Syndromic Surveillance - Epidemic Phase MAP' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_map_coefficient' %}

{% block content %}
{% if app.request.session.hasFlash('success') %}
<div class="alert alert-success">
  {{ app.request.session.getFlash('success') }}
</div>
{% endif %}
{% if app.request.session.hasFlash('error') %}
<div class="alert alert-error">
  {{ app.request.session.getFlash('error') }}
</div>
{% endif %}

<form target="_blank" action="{{ path('scomdis_map_epidemic_phase') }}" method="post" class="form-horizontal">
  {{ form_errors(form) }}
  <div class="control-group {% if form.weekend.get('errors') %}error{% endif %}">
    <label class="control-label">Weekend</label>
    <div class="controls">
    {{ form_errors(form.weekend) }}
    {{ form_widget(form.weekend) }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Week of year</label>
    <div class="controls">
    {{ form_errors(form.weekOfYear) }}
    {{ form_widget(form.weekOfYear, {'attr': {'readonly': 'readonly'} }) }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Year</label>
    <div class="controls">
    {{ form_errors(form.year) }}
    {{ form_widget(form.year, {'attr': {'readonly': 'readonly'} }) }}
    </div>
  </div>
  <div class="control-group {% if form.year_choices.get('errors') %}error{% endif %}">
    <label class="control-label">Calculation Years</label>
    <div class="controls">
    {{ form_errors(form.year_choices) }}
      <select id="syndrome" name="SurveillanceCoefficient[year_choices][]" required="required" multiple="multiple">
      {% for year in yearChoices %}
        <option value="{{ year }}" >{{ year }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  <div class="control-group {% if form.syndromes.get('errors') %}error{% endif %}">
    <label class="control-label">Syndromes</label>
    <div class="controls">
    {{ form_errors(form.syndromes) }}
      <select id="syndrome" name="SurveillanceCoefficient[syndromes][]" required="required" multiple="multiple">
      {% for syndrome in syndromes %}
        <option value="{{ syndrome.id }}" >{{ syndrome.name }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  <div class="control-group">
    {{ form_errors(form.useNoRecords) }}
    <div class="controls">
    <label class='checkbox'>{{ form_widget(form.useNoRecords) }}Calc. no records as 0 case.</label>
    </div>
  </div>
{#  <div class="control-group">
    {{ form_errors(form.useLandwideSD) }}
    <div class="controls">
    <label class='checkbox'>{{ form_widget(form.useLandwideSD) }}Calc. threshold in each district by dividing islandwide threshold in proportion to its population.</label>
    </div>
  </div> #}
  {{ form_widget(form._token) }}
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Next">
  </div>
</form>
{% endblock %}
