{% extends 'DHISSComDisBundle::layout.html.twig' %}

{% block page_title 'Syndromic Surveillance - out CARPHA Report - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Syndromic Surveillance - CARPHA Weekly Report' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_surveillance_out_carpha_report' %}

{% block content %}
{% if app.request.session.hasFlash('success') %}
<div class="alert alert-success">
  {{ app.request.session.getFlash('success') }}
</div>
{% endif %}
{% if app.request.session.hasFlash('error') %}
<div class="alert alert-error">
  {{ app.request.session.getFlash('error') }}
</div>
{% endif %}

<form action="{{ path('scomdis_surveillance_out_carpha_report') }}" method="post" class="form-horizontal">
  {{ form_errors(form) }}
  <div class="control-group {% if form.weekend.get('errors') %}error{% endif %}">
    <label class="control-label">Weekend</label>
    <div class="controls">
    {{ form_errors(form.weekend) }}
    {{ form_widget(form.weekend) }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Week of year</label>
    <div class="controls">
    {{ form_errors(form.weekOfYear) }}
    {{ form_widget(form.weekOfYear, {'attr': {'readonly': 'readonly'} }) }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Year</label>
    <div class="controls">
    {{ form_errors(form.year) }}
    {{ form_widget(form.year, {'attr': {'readonly': 'readonly'} }) }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Total number of reporting sites</label>
    <div class="controls">
    {{ form_errors(form.totalSites) }}
      <select name="OutCARPHAReport[totalSites]" size="1">
      {% for i in 1..99 %}
        <option value="{{ i }}" {% if i == 11 %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  
  {{ form_widget(form._token) }}
  
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Output">
  </div>
</form>
{% endblock %}
