{% extends 'DHISSComDisBundle::layout.html.twig' %}

{% block page_title 'Syndromic Surveillance - Epidemic Trend - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Syndromic Surveillance - Epidemic Trend' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_surveillance_trend' %}

{% block content %}
{% if app.request.session.hasFlash('success') %}
<div class="alert alert-success">
  {{ app.request.session.getFlash('success') }}
</div>
{% endif %}
{% if app.request.session.hasFlash('error') %}
<div class="alert alert-error">
  {{ app.request.session.getFlash('error') }}
</div>
{% endif %}

<form target="_blank" action="{{ path('scomdis_surveillance_trend') }}" method="post" class="form-horizontal">
  {{ form_errors(form) }}
  <div class="control-group {% if form.year_choices.get('errors') %}error{% endif %}">
    <label class="control-label">Years</label>
    <div class="controls">
    {{ form_errors(form.year_choices) }}
      <select id="syndrome" name="SurveillanceTrend[year_choices][]" required="required" multiple="multiple">
      {% for year in yearChoices %}
        <option value="{{ year }}" >{{ year }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  <div class="control-group {% if form.syndromes.get('errors') %}error{% endif %}">
    <label class="control-label">Syndromes</label>
    <div class="controls">
    {{ form_errors(form.syndromes) }}
      <select id="syndrome" name="SurveillanceTrend[syndromes][]" required="required" multiple="multiple">
      {% for syndrome in syndromes %}
        <option value="{{ syndrome.id }}" >{{ syndrome.name }}</option>
      {% endfor %}
      </select>
        <label class='checkbox'>{{ form_widget(form.useSeriesSyndromes) }}Series</label>
    </div>
  </div>
  <div class="control-group {% if form.sentinelSites.get('errors') %}error{% endif %}">
    <label class="control-label">Sentinel sites</label>
    <div class="controls">
    {{ form_errors(form.sentinelSites) }}
      <select id="sentinelSite" name="SurveillanceTrend[sentinelSites][]" required="required" multiple="multiple">
      {% for sentinelSite in sentinelSites %}
        <option value="{{ sentinelSite.id }}" >{{ sentinelSite.name }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
    
  {{ form_widget(form._token) }}
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Create">
  </div>
</form>
{#<div>
  <img src="http://chart.apis.google.com/chart?chs=800x320&chd=t:78.0,32.0,84.0&cht=lc"><img src="{{ chartSrc }}">
</div>#}
{% endblock %}
