{% extends 'DHISSComDisBundle::layout.html.twig' %}

{% block page_title 'Syndromic Surveillance - Epidemic Trend - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Syndromic Surveillance - Syndromic Surveillance - new' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_surveillance_trend' %}

{% block content %}
{% if app.request.session.hasFlash('success') %}
<div class="alert alert-success">
  {{ app.request.session.getFlash('success') }}
</div>
{% endif %}
{% if app.request.session.hasFlash('error') %}
<div class="alert alert-error">
  {{ app.request.session.getFlash('error') }}
</div>
{% endif %}

<form target="_blank" action="{{ path('scomdis_surveillance_trend') }}" method="post" class="form-horizontal">
{# <form action="{{ path('scomdis_surveillance_trend') }}" method="post" class="form-horizontal"> #}
  {{ form_errors(form) }}
  <div class="control-group {% if form.test.get('errors') %}error{% endif %}">
    <label class="control-label">Test</label>
    <div class="controls">
    {{ form_errors(form.test) }}
    {{ form_widget(form.test) }}
    </div>
  </div>
  <div class="control-group {% if form.year_choices.get('errors') %}error{% endif %}">
    <label class="control-label">Year</label>
    <div class="controls">
      {{ form_errors(form.year_choices) }}
      {{ form_widget(form.year_choices) }}
    </div>
  </div>
  {#<div class="control-group {% if form.syndromes.get('errors') %}error{% endif %}">
    <label class="control-label">Syndromes</label>
    <div class="controls">
      {{ form_errors(form.syndromes) }}
      {{ form_widget(form.syndromes) }}
    </div>
  </div>#}
  <div class="control-group {% if form.syndromes.get('errors') %}error{% endif %}">
    <label class="control-label">Syndromes</label>
    <div class="controls">
    {{ form_errors(form.syndromes) }}
        <select id="syndrome" name="SurveillanceTrend[syndromes][]" required="required" multiple="multiple">
      {% for syndrome in syndromes %}
        <option value="{{ syndrome.id }}" >{{ syndrome.name }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
    
  {{ form_widget(form._token) }}
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Create">
  </div>
</form>
<div>
  {#<img src="http://chart.apis.google.com/chart?chs=800x320&chd=t:78.0,32.0,84.0&cht=lc">#}
  {#<img src="{{ chartSrc }}">#}
</div>

{#
{% include "DHISSComDisBundle:Surveillance:_show_header_ex.html.twig" %}
{% include "DHISSComDisBundle:Surveillance:_show_items.html.twig" %}

<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <th>ID</th>
      <td>{{ surveillance.id }}</td>
      <th>Created At</th>
      <td>{{ surveillance.createdAt|date('m/d/Y H:i') }}</td>
      <th>Updated At</th>
      <td>{{ surveillance.updatedAt|date('m/d/Y H:i') }}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="span6">
    <div class="form-actions">
      <a href=javascript:history:back() class="btn">&laquo; Back</a>
      <a href="{{ path('scomdis_surveillance_edit', {'id': surveillance.id}) }}" class="btn btn-success">Edit</a>
      <a href="{{ path('scomdis_surveillance_out_daily_tally_report', {'id': surveillance.id}) }}" class="btn btn-primary">Daily Tally Report</a>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h4>Delete this Surveillance</h4>
      <p>Note: once it is deleted, you will not be able to restore it.</p>
      <a href="{{ path('scomdis_surveillance_delete', {'id': surveillance.id}) }}" class="btn btn-danger">Delete</a>
    </div>
  </div>    
</div>
#}
{% endblock %}
