{% extends 'DHISAdminBundle::layout.html.twig' %}

{% block page_title 'User&apos;s details - Admin' %}
{% block product_name 'Admin' %}
{% block content_title 'User&apos;s detals' %}

{% set menu = 'admin' %}
{% set sidebar_menu = 'admin_user' %}

{% block content %}
<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <th>ID</th>
      <td>{{ user.id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ user.displayname }}</td>
    </tr>
    <tr>
      <th>Username</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>Mail</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <tH>Enable</th>
      <td>{% if user.isActive %}yes{% else %}no{% endif %}</td>
    </tr>
    <tr>
      <tH>Lock</th>
      <td>{% if user.isLock %}yes{% else %}no{% endif %}</td>
    </tr>
    <tr>
      <th>Created at</th>
      <td>{{ user.createdAt|date('Y/m/d') }}</td>
    </tr>
    <tr>
      <th>Updated at</th>
      <td>{{ user.updatedAt|date('Y/m/d') }}</td>
    </tr>
    <tr>
      <th>Groups</th>
      <td>
      {% for group in user.groups %}
        <a href="{{ path('admin_group_show', {'id': group.id}) }}">{{ group.name }}</a><br>
      {% endfor %}
    </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="span6">
    <div class="form-actions">
  <form action="{{ path('admin_user_edit', {'id': user.id}) }}">
      <a href=javascript:history:back() class="btn">&laquo; Back</a>      
      <input type="submit" class="btn btn-primary" value="Edit">
  </form>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <form action="{{ path('admin_user_delete', {'id': user.id}) }}">
        <h4>Delete this User</h4>
        <p>Note: once it is deleted, you will not be able to restore it.</p>
        {#<a href="{{ path('admin_user_delete') }}" class="btn btn-danger">Delete</a>#}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <input type="submit" class="btn btn-danger" value="Delete">
        {% else %}
        <p>Can not be allowed.</p>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
